<div class="bo" [ngStyle]="{'background-image': getUrl()}" style="height: 1000px; background-attachment: fixed; background-repeat: no-repeat; background-size: cover ;">
 
  
<div class="logo"> <img src="assets\login-logo.png"></div>
 
<div class="login-box">
  
  <h1>Login</h1>
        
        <form  class="form-signin" [formGroup]="loginForm" (ngSubmit)="loginUser()" novalidate>
         
            <div class="textbox">
              <i class="fas fa-user"></i>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email" formControlName="artistMail" required>
          </div>

          <div class="textbox">
            <i class="fas fa-lock"></i>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="artistPassword" required>
        </div>

          <input type="button" type="submit" class="btn" value="Sign in">
          <div>

            <a routerLink="/subscribe" style="color: white;">Registre now</a>
          </div>
        </form>
        </div>
 
          
          </div>
