:host{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

  .login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background-color: rgba(24, 21, 21, 0.856);
    padding: 10px;
  }
  .login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid rgba(182, 6, 6, 0.795);
    margin-bottom: 50px;
    padding: 13px 0;
  }
  .textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid rgba(182, 6, 6, 0.795);
  }
  .textbox i{
    width: 26px;
    float: left;
    text-align: center;
  }
  .textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
  }
  .btn{
    width: 100%;
    background: none;
    border: 2px solid rgba(182, 6, 6, 0.795);
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
  }
 

  @media only screen and (max-width: 600px){
    .login-box{
        width: 70vw;
    }
    .btn{
        width: fit-content ;
    }

      .bo{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 20px;
      }

      
      .login-box h1{
        font-size: 20px;
        border-bottom: 3px solid rgba(182, 6, 6, 0.795);
      }
      .textbox input{
          width: 80%;
      }
      .textbox i{
        width: 4px;
        float: left;
        text-align: center;
      }
.logo img{
    width: 30%;
}
  }

  @media only screen and (min-width: 1500px){
    .login-box{
        width: 280px;
    }
    .btn{
        width: 100%;
    }

      .bo{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 20px;
      }

      
      .login-box h1{
        font-size: 40px;
        border-bottom: 6px solid rgba(182, 6, 6, 0.795);
      }
      .textbox input{
          width: 80%;
      }
      .textbox i{
        width: 26px;
        float: left;
        text-align: center;
      }
.logo img{
    width: 20%;
}
  }


  