<app-authorised-top-nav></app-authorised-top-nav>
<div class="up" [ngStyle]="{'background-image': getUrl()}" style="height: auto; background-attachment: fixed; background-repeat: no-repeat; background-size: cover ;">
<app-authorised-side-nav></app-authorised-side-nav>

<div class="row">
    <div class="ph">
    <label   >
        <img src="http://localhost:8080/v1/photos/artist/{{artist.id}}"  width="100%" height="300px" onerror="this.src='assets/unnamed.png'" >
        <input type="file" (change)="onselected($event)" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;  ">
    </label> <div  class="btn btn-link" [hidden]="!selectedFiles"
        (click)="uploadPhotoArtist(artist.id)"><span style="color:#4b64ec;">Upload</span></div>
      
         </div>
   

    <br>
    <div class="login-box">
<form class="form-group" (ngSubmit)="updateArtist()"  novalidate>
  
    <div class="textbox">  
    <label > Name*</label><br>
    <input type="text" name="artistName" class="form-control" [(ngModel)]="artist.artistName" placeholder="Name" required/>
</div>
<div class="textbox">  
    <label >Last Name*</label> <br>
    <input type="text" name="artistLastName" class="form-control" [(ngModel)]="artist.artistLastName" placeholder="Last name" required />
</div>
<div class="textbox">  
    <label >Email address*</label><br>
    <input type="email" name="artistMail" class="form-control" [(ngModel)]="artist.artistMail" placeholder="Email address" required />
</div>
<div class="textbox">  
    <label >Password*</label><br>
    <input type="password" name="artistPassword" class="form-control" [(ngModel)]="artist.artistPassword" placeholder="Password" required />
</div>
<div class="textbox">  
    <label >Domain*</label><br>
    <input type="text" name="artistDomain" class="form-control" [(ngModel)]="artist.artistDomain" placeholder="Domain" required />
  </div>
    <input type="button" type="submit" class="btn" value="Save">
    
</form>
</div>
</div>
</div>