.logo img{
    width: 50%;
}

.container h1{
color: rgb(255, 255, 255);
    text-align: center;
text-shadow: 3px 3px maroon;
background-color: black;
width: fit-content;
margin-left: auto;
  margin-right: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
.container .artistic{
    font-size: 80px; 
    margin-right:2em ; 
    padding-left: 20px;
    color: white;
}

.container .wall{
    font-size: 80px; 
    margin-left:1em ; 
    color: white;
    padding-left: 10px;
}

.event{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
margin-top: 10%;
margin-bottom: 10%;
   float: left;
   
}

.event img {
    width: 30%;
}

.row h5{
    float: left;
    border-bottom: 4px solid rgba(182, 6, 6, 0.795); 
    padding: 6px 0;
}
.row p{
    color: white;
     margin-top: 8%;
      text-align: left;
}

@media only screen and (max-width: 600px){
    .row h5{
        float: left;
        border-bottom: 4px solid rgba(182, 6, 6, 0.795); 
        padding: 6px 0;
    }
    .row p{

         margin-top: 15%;
          text-align: left;
    }
    
    .container .artistic{
        font-size: 40px; 
        margin-right:2em ; 
    
    }
    
    .container .wall{
        font-size: 40px; 
        margin-left:2em ; 
    }

    .event{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    }

    .event img {
        width: 100%;
        padding: 20px;
    }
    
}