<app-authorised-top-nav></app-authorised-top-nav>
<div class="up">

<app-authorised-side-nav></app-authorised-side-nav>

<div class="ro" *ngIf="isAdmin" >


  <form class="form-inline d-flex justify-content-center md-form form-sm active-pink active-pink-2 mt-2">
    <i class="fas fa-search" style="color: #da054cbb;" ></i>
    <input class="form-control form-control-sm ml-3 w-75" type="serch" placeholder="Search by type of event " (input)="filter($event.target.value)"
      aria-label="Search">
  </form>
  <br><br>
<div class="card"  *ngFor="let ev of admin">
  <div class="card-header">
    <p class="card-text" [hidden]="!ev.typeEventDto"><b>Type event: </b>{{ev.typeEventDto}} <br> <b>#: </b>{{ev.idEvent}}</p>
    <p style="color: grey; font-size: 10px;">published :&nbsp;{{ev.dateOfCreatingDto}}</p>
    <p class="card-title" [hidden]="!ev.categoriesDto" style="background-color:white;"><b>Categories: </b>{{ev.categoriesDto}}</p>
  </div>
  <div class="card-body">
    <p class="card-text" [hidden]="!ev.descriptionDto"><b>Description: </b>{{ev.descriptionDto}}</p>
  </div>
  <img src="http://localhost:8080/v1/photos/event/{{ev.idEvent}}" class="card-img-top" style="width:100%; " onerror="this.src='assets/unnamed.png'">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" [hidden]="!ev.commonDto" *ngIf="check"><b>City: </b>{{ev.commonDto}}</li>
    <li class="list-group-item" [hidden]="!ev.streetDto" *ngIf="check"><b>Street: </b>{{ev.streetDto}}</li>
    <li class="list-group-item" [hidden]="!ev.zipCodeDto" *ngIf="check"><b>Zip code: </b>{{ev.zipCodeDto}}</li>
    <li class="list-group-item" [hidden]="!ev.phoneDto" *ngIf="check"><b>Phone: </b>{{ev.phoneDto}}</li>
    <li class="list-group-item" [hidden]="!ev.dateDto" *ngIf="check"><b>At: </b>{{ev.dateDto}}</li>
        
        <li class="list-group-item" [hidden]="!ev.artistName || !ev.artistLastName" *ngIf="check"><b>Artist: </b>{{ev.artistName}}&nbsp;{{ev.artistLastName}}</li>
        <li class="list-group-item" [hidden]="!ev.artistMail" *ngIf="check"><b>Email: </b>{{ev.artistMail}}</li>
        <li class="list-group-item" [hidden]="!ev.artistPassword" *ngIf="check"><b>Password :</b>{{ev.artistPassword}}</li>
        <li class="list-group-item" [hidden]="!ev.artistDomain" *ngIf="check"><b>Domain: </b>{{ev.artistDomain}}</li>
        <li class="list-group-item" [hidden]="!ev.roleName" *ngIf="check"><b>Role: </b>{{ev.roleName}}</li>
        <li class="list-group-item" [hidden]="!ev.shared" *ngIf="check"><b>shared: </b>{{ev.shared}}</li>
        <p  type="button"  (click)="myClick()" style="color: rgba(139, 4, 4, 0.856); padding: 10px;" >{{nameButton}}</p>
      </ul>
      <div class="card-body">
        <button type="button" class="btn btn-link" (click)="removeEvent(ev.idEvent)"><i class="fas fa-trash"></i>&nbsp;Remove</button>
        <button type="button" class="btn btn-link" (click)="updateEventAndArtist(ev.idEvent)"><i class="fas fa-pen" ></i>&nbsp;Edit</button>

        <div *ngIf="currentFileUpload" class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
            aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{width:progress.percentage+'%'}">
            {{progress.percentage}}%</div>
        </div>
         
        <label  class="btn btn-link" ><span style="color: red;">Choose photo</span> 
          <input type="file" (change)="onselectedFile($event)" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden; ">
        </label>
        <br>
         
        <button class="btn btn-light" style="border: 1px solid black;" [disabled]="!selectedFiles"
          (click)="uploadPhoto(ev.idEvent)"><span style="color: brown; ;"><b>Upload</b></span></button>
      </div>

</div>
</div>
</div>
