<app-authorised-top-nav></app-authorised-top-nav>
<div class="up" >
<app-authorised-side-nav></app-authorised-side-nav>

        
<form class="form-group" (ngSubmit)="update()"  novalidate>
  
   
 
    <label  class="sr-only">artistName</label> 
    <input type="text" name="artistName" class="form-control" [(ngModel)]="admin.artistName" placeholder="artist name" required />

    <label  class="sr-only">artistLastName</label>
    <input type="text" name="artistLastName" class="form-control" [(ngModel)]="admin.artistLastName" placeholder="artist last name" required />

    <label  class="sr-only">artistMail</label>
    <input type="text" name="artistMail" class="form-control" [(ngModel)]="admin.artistMail" placeholder="artist mail" required />

    <label  class="sr-only">artistPassword</label>
    <input type="text" name="artistPassword" class="form-control" [(ngModel)]="admin.artistPassword" placeholder="artist password" required />

    <label  class="sr-only">artistDomain</label>
    <input type="text" name="artistDomain" class="form-control" [(ngModel)]="admin.artistDomain" placeholder="artist domain" required />

    <label  class="sr-only">roleName</label>
    <input type="text" name="roleName" class="form-control" [(ngModel)]="admin.roleName" placeholder="role" required />

    <label  class="sr-only">typeEventDto</label>
    <input type="text" name="typeEventDto" list="chose-type" class="form-control" [(ngModel)]="admin.typeEventDto" placeholder="type event" required />
    <datalist id="chose-type">
        <option value="Audition">
         <option value="Concert">
         <option value="Show"></option>
    </datalist>
    
    <label  class="sr-only">descriptionDto</label> 
    <input type="text" name="descriptionDto" class="form-control" [(ngModel)]="admin.descriptionDto" placeholder="description" required />

    <label  class="sr-only">descriptionDto</label>
    <input type="text" name="shared" class="form-control" [(ngModel)]="admin.shared" placeholder="shared" required />

    <label  class="sr-only">idOwnerDto</label>
    <input type="text" name="idOwnerDto" class="form-control" [(ngModel)]="admin.idOwnerDto" placeholder="idOwner" required />

    <label  class="sr-only">categoriesDto</label>
    <input type="text" name="categoriesDto" class="form-control" [(ngModel)]="admin.categoriesDto" placeholder="categories" required />

    <label  class="sr-only">streetDto</label>
    <input type="text" name="streetDto" class="form-control" [(ngModel)]="admin.streetDto" placeholder="street" required />

    <label class="sr-only">zipCodeDto</label>
    <input type="datetime-local" name="zipCodeDto" class="form-control" [(ngModel)]="admin.zipCodeDto" placeholder="zip code" required />

    <label  class="sr-only">commonDto</label>
    <input type="text" name="commonDto" class="form-control" [(ngModel)]="admin.commonDto" placeholder="common" required />

    <label  class="sr-only">phoneDto</label>
    <input type="text" name="phoneDto" class="form-control" [(ngModel)]="admin.phoneDto" placeholder="phone" required />

    <label  class="sr-only">dateDto</label>
    <input type="datetime-local" name="dateDto" class="form-control" [(ngModel)]="admin.dateDto" placeholder="Date" required />

    <label  class="sr-only">dateOfCreatingDto</label>
    <input type="text" name="dateOfCreatingDto" class="form-control" [(ngModel)]="admin.dateOfCreatingDto" placeholder="date of creating" required />
    

    <br>  
    <button class="btn btn-lg btn-primary btn-block" type="submit" >Update</button>
</form>


</div>