.up{
    display: flex;
    flex-direction: row;
justify-content: space-between;
}
.card{
    width: 18rem;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 20px;
    background-color: rgba(24, 21, 21, 0.856);
}

.ro{
    width: 18rem;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 20px;
  
}

p:blank{
    display: none;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 16px;
    width: 80%;
    float: left;
    margin: 0 10px;
    border-bottom: 1px solid #da054c;
    
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
}
.textbox {

    background-color: rgba(24, 21, 21, 0.856);
}
::placeholder{
  color: white;
}
.btn{

    color: white;
    padding: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
   justify-content: space-around;


  }
  .btn :hover{
   border-bottom: 2px solid #da054c;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  }
  .card-body{
      color: white;
  }
@media only screen and (max-width: 600px){
    .card{
        width: 18rem;
        margin-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 20px;
    
    }
    .ro{
        width: 18rem;
        margin-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 20px;
    }
    
}
@media only screen and (max-width: 1000px){
    .card{
        width: 18rem;
        margin-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 20px;
        
    }
    .ro{
        width: 18rem;
        margin-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 20px;
    }
}

