.up{
    display: flex;
    flex-direction: row;
justify-content: space-between;
}
.card{
    width: 18rem;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
}