<app-authorised-top-nav></app-authorised-top-nav>
<div class="up">
<app-authorised-side-nav></app-authorised-side-nav>


<div class="row">
    <div class="card" *ngFor="let ev of event" style="width: 18rem;margin-right: 30px;">
      <div class="card-header bg-transparent" *ngIf="ev.idOwner !== -1">
        <div class="btn-group" role="group" aria-label="Basic example" >
        <!--  <button type="button" class="btn btn-link" (click)="updateEvent(ev.id)"><i class="fas fa-pen" ></i>&nbsp;Edit</button>-->
         <!--  <button type="button" class="btn btn-link" (click)="removeEvent(ev.id)"><i class="fas fa-trash"></i>&nbsp;Remove</button>-->
          <button type="button" class="btn btn-link" *ngIf="ev.shared == 0" (click)="shareEvent(ev.id, ev.shared)"><i class="fas fa-share-alt"></i>&nbsp;Share</button>
          <button type="button" class="btn btn-link" *ngIf="ev.shared == 1" (click)="shareEvent(ev.id, ev.shared)"><i class="fas fa-share-alt" ></i>&nbsp;Unshare</button>
        </div>
      </div>
      <div class="card-header bg-transparent" *ngIf="ev.idOwner === -1">
          <button type="button" class="btn btn-outline-primary btn-block btn-link"><i class="fas fa-share-alt"></i>&nbsp;Shared</button>
      </div>
      <img src="http://localhost:8080/v1/photos/event/{{ev.id}}" class="card-img-top" style="height: 400px;">
      <div class="card-body">
        <h5 class="card-title">{{ev.typeEventDto}}</h5>
       <p class="card-text">{{ev.categoriesDto}}</p>
        <p class="card-text">{{ev.descriptionDto}}</p>
        <p class="card-text">{{ev.commonDto}}</p>
        <p class="card-text">{{ev.streetDto}}</p>
        <p class="card-text">{{ev.zipCodeDto}}</p>
        <p class="card-text">{{ev.phoneDto}}</p>
        <p class="card-text">{{ev.dateDto}}</p>
      

</div>