<app-authorised-top-nav></app-authorised-top-nav>
<div class="up">
<app-authorised-side-nav></app-authorised-side-nav>


<div class="ro">
    <div class="card" *ngFor="let ev of evente">
      <div class="card-header bg-transparent" *ngIf="ev.idOwner !== -1">
        <div class="btn-group" role="group" aria-label="Basic example" >
        <!--  <button type="button" class="btn btn-link" (click)="updateEvent(ev.id)"><i class="fas fa-pen" ></i>&nbsp;Edit</button>-->
          <button type="button" class="btn btn-link" (click)="removeEvent(ev.id)"><i class="fas fa-trash"></i>&nbsp;Remove</button>
          <button type="button" class="btn btn-link" *ngIf="ev.shared == 0" (click)="shareEvent(ev.id, ev.shared)"><i class="fas fa-share-alt"></i>&nbsp;Share</button>
          <button type="button" class="btn btn-link" *ngIf="ev.shared == 1" (click)="shareEvent(ev.id, ev.shared)"><i class="fas fa-share-alt" ></i>&nbsp;Unshare</button>
        </div>
      </div>
      <div class="card-header bg-transparent" *ngIf="ev.idOwner === -1">
          <button type="button" class="btn btn-outline-primary btn-block btn-link"><i class="fas fa-share-alt"></i>&nbsp;Shared</button>
      </div>
      <img src="http://localhost:8080/v1/photos/artist/{{artist.id}}" class="rounded-circle" width="50" height="50"onerror="this.src='assets/16-168360_user-add-user-icon-add-symbol-member-friend.png'">&nbsp;
      <b>{{artist.name}}&nbsp;{{artist.lastName}}</b>
      <p style="color: grey; font-size: 10px;">published :&nbsp;{{ev.dateOfCreatingDto}}</p>
      <img src="http://localhost:8080/v1/photos/event/{{ev.id}}" class="card-img-top" style="width:100%; " onerror="this.src='assets/129-1298005_png-file-upload-image-icon-png.png'">
      <div class="card-body">
        

        <h5 class="card-text"  [hidden]="!ev.typeEventDto"  >{{ev.typeEventDto}}</h5>
        <h6 [hidden]="!ev.categoriesDto"><b>categories :</b>&nbsp;{{ev.categoriesDto}}</h6>
        <p class="card-text" [hidden]="!ev.descriptionDto">{{ev.descriptionDto}}</p>
        <p class="card-text" [hidden]="!ev.commonDto"><b>Common :</b>&nbsp;{{ev.commonDto}}</p>
        <p class="card-text" [hidden]="!ev.streetDto"><b>Street :</b>&nbsp;{{ev.streetDto}}</p>
        <p class="card-text" [hidden]="!ev.zipCodeDto"><b>Zip code :</b>&nbsp;{{ev.zipCodeDto}}</p>
        <p class="card-text" [hidden]="!ev.phoneDto"><b>Phone :</b>&nbsp;{{ev.phoneDto}}</p>
        <p class="card-text" [hidden]="!ev.dateDto"><b>At :</b> &nbsp;{{ev.dateDto}}</p>

   

        <div *ngIf="currentFileUpload" class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
            aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{width:progress.percentage+'%'}">
            {{progress.percentage}}%</div>
        </div>
         
        <label  class="btn btn-link" ><span style="color: red;">Choose photo</span> 
          <input type="file" (change)="onselectedFile($event)" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden; ">
        </label>
        <br>
         
        <button class="btn btn-light" style="border: 1px solid black;" [disabled]="!selectedFiles"
          (click)="uploadPhoto(ev.id)"><span style="color: brown; ;"><b>Upload</b></span></button>
        
          

</div>